In [73]:
inventory = {
 'gold' : 500,
 'pouch' : ['flint', 'twine', 'gemstone'],
 'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}

inventory['pocket']=['seashell','strange berry','lint']
inventory['backpack'].sort()
inventory['backpack'].remove('dagger')
inventory['gold'] += 50

print(inventory)

{'gold': 550, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['bedroll', 'bread loaf', 'xylophone'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [74]:
prices={"banana": 4,
"apple": 2,
"orange": 1.5,
"pear": 3
}
stock={"banana": 6,
 "apple": 0,
 "orange": 32,
 "pear": 15
}
for v in prices:
  print(v)
  print("prices: "+str(prices[v]))
  print("stocks: "+str(stock[v]))

total=0
for v in prices:
  total += prices[v] *stock[v]
print(total)

banana
prices: 4
stocks: 6
apple
prices: 2
stocks: 0
orange
prices: 1.5
stocks: 32
pear
prices: 3
stocks: 15
117.0

In [75]:
groceries = ["banana","orange","apple"]

stock = {
 "banana": 6,
 "apple": 0,
 "orange": 32,
 "pear": 15
}
prices = {
 "banana": 4,
 "apple": 2,
 "orange": 1.5,
 "pear": 3
}

def compute_bill(food):
  total = 0
  for x in food:
     if stock[x] != 0:
      total += prices[x]
      stock[x] -= 1
  return total

compute_bill(groceries)

5.5

In [97]:
eren = {
 "name": "Eren",
 "homework": [90.0,97.0,75.0,92.0],
 "quizzes": [88.0,40.0,94.0],
 "tests": [75.0,90.0]
}
mikasa = {
"name": "Mikasa",
"homework": [100.0, 92.0, 98.0, 100.0],
"quizzes": [82.0, 83.0, 91.0],
"tests": [89.0, 97.0]
}
armin = {
"name": "Armin",
"homework": [0.0, 87.0, 75.0, 22.0],
"quizzes": [0.0, 75.0, 78.0],
"tests": [100.0, 100.0]
}
students= ["eren","mikasa","armin"]

for i in students:
    print("name:", eval(i+"['name']"))
    print("Homework:",eval(i+"['homework']"))
    print("Quizzes:",eval(i+"['quizzes']"))
    print("Tests::",eval(i+"['tests']"))

def average(numbers):
    total = float(sum(numbers))
    return total / len(numbers)

def get_average(student):
    homework = average(eval(i+"['homework']"))
    quizzes = average(eval(i+"['quizzes']"))
    tests = average(eval(i+"['tests']"))

    weight_homework= (1/10)*(homework)
    weight_quizzes= (3/10)*(quizzes)
    weight_tests= (6/10)*(tests)
    return weight_homework + weight_quizzes + weight_tests


def get_letter_grade(score):
  if score >= 90:
    print("A")
  elif score >= 80:
    print("B")
  elif score >= 70:
    print("C")
  elif score >= 60:
    print("D")
  else:
    print("F")


def class_average(students):
    result=[]
    for i in students:
      result.append(get_average(i))
    return get_average(result)
  

print("The Class Average is",get_average(students))
get_letter_grade(class_average(students))

name: Eren
Homework: [90.0, 97.0, 75.0, 92.0]
Quizzes: [88.0, 40.0, 94.0]
Tests:: [75.0, 90.0]
name: Mikasa
Homework: [100.0, 92.0, 98.0, 100.0]
Quizzes: [82.0, 83.0, 91.0]
Tests:: [89.0, 97.0]
name: Armin
Homework: [0.0, 87.0, 75.0, 22.0]
Quizzes: [0.0, 75.0, 78.0]
Tests:: [100.0, 100.0]
The Class Average is 79.9
C